[Desktop Entry]
Name=fterm
Comment=Terminal emulator built with PyQt5
GenericName=Terminal Emulator
Exec=fterm
Icon=fterm
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;console;shell;command;prompt;
StartupNotify=true
StartupWMClass=fterm
