[Desktop Entry]
Name=SOSterm
Comment=Terminal emulator by SOS Tech Services
GenericName=Terminal Emulator
Exec=SOSterm
Icon=SOSterm
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;console;shell;command;prompt;
StartupNotify=true
StartupWMClass=SOSterm
